* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --gray-50: #f8f8f8;
  --gray-100: #d7d7d7;
  --gray-400: #bbbbbb;
  --gray-800: #1a1d23;
  --pink-500: #ff57b2;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-800);
  color: var(--gray-50);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
